/*
Title Name: ElisandroMello
Theme URI: http://elisandromello.localhost:8888/
Description: Tema de Configuração Site Pessoal e Profissional
Version: 1.0
Author: Elisandro Mello
Author URI: http://elisandromello.com.br
*/

@import url('styles.css');
